body {
    display: flex;
    width: 100%; 
}

.nuancier {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#nuancierNoir {
    background-color: black;

}

#nuancierBlanc {
    background-color: white;
    flex-direction: row-reverse;
}

.couleur {
    width: 10%;
    height: 55px; 
    border-radius: 10%;
}
